@page
@model StudentHousing.Web.Pages.Housing.IndexModel
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@using StudentHousing.Permissions
@inject IAuthorizationService AuthService
@section scripts{
    <abp-script src="/Pages/Housing/Index.js"></abp-script>
    <abp-script src='/js/slideshow.js'></abp-script>
}
@section styles{
    <abp-style src='/css/slideshow.css'></abp-style>
}
<div class="container pt-5">
    @if (await AuthService.IsGrantedAsync(StudentHousingPermissions.Housing.Create))
    {
            <abp-column size-md="_12" class="text-end mt-3 mb-3">
                <abp-button id="AddPropertyButton"
                    text="New Property"
                    icon="fas fa-plus" class="mt-1"
                    button-type="Primary" />
            </abp-column>
    }
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6" class="text-left">
                    <h2>All Properties</h2>
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
            <abp-table striped-rows="true" id="PropertiesTable">
            </abp-table>
        </abp-card-body>
    </abp-card>
</div>